
.board {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 0 3rem ;
    background-color: var(--bg);

}

.boardTitle {
    color: var(--text);
    letter-spacing: 0.2rem;
    font-weight: bold;
  font-size: 36px;
    margin: 3rem;
}

