.task {
    padding: 0.7rem;
    border: 1px solid var(--border);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.title {
    color: var(--text);
    font-weight: 500;
    font-size: 1rem;
}
.priority {
    color: var(--text);
    border-radius: 1rem;
    padding: 0.3rem 0.6rem ;
    text-align: center;
}
.one {
    background-color: #bb008f;
}
.two {
    background-color: #ae00d5;
}
.three {
    background-color: #7700d9;
}
.four {
    background-color: #004cd9;
}
.five {
    background-color: #00a3bb;
}