.task {
    padding: 0.7rem;
    border: 1px solid var(--border);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    cursor: pointer;

}

.selectedTask {
    cursor: auto;
    border: 1px solid var(--accent-border);


}
.taskInfo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.title {
    color: var(--text);
    font-weight: 500;
    font-size: 1rem;
}
.priority {
    color: var(--text);
    border-radius: 1rem;
    padding: 0.2rem 0.5rem ;
    text-align: center;
}
.one {
    background-color: #860808;
}
.two {
    background-color: #c73d13;
}
.three {
    background-color: #af602b;
}
.four {
    background-color: #bd8f1b;
}
.five {
    background-color: #8b9819;
}
